{% extends "layout.html" %}

{% block heading %}
    Search the book
{% endblock %}

{% block body %}
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="isbn" placeholder="Enter Isbn"></br>
        <input type="text" name="title" placeholder="Enter Title"></br>
        <input type="text" name="author" placeholder="Enter Author"></br>
        <input type="text" name="year" placeholder="Enter Year"></br>	
        <button>Search</button>
    </form>
	</br>
    <ul>
        {% for book in books %}
            <li> <a href="{{ url_for('bookpage', book_id=book.id) }}">
                    {{ book }}</a></li>
        {% endfor %}

    </ul>

{% endblock %}